    .header { font-family: sans-serif; font-size: 200px;
    }
    .h1 {
        text-align: center; font-size: 500px;
    }
    .p {
        text-align: center;
    }
    .body { font-family: sans-serif;}
    .Knöpfe {
        display: flex; gap: 16px; padding: 30px; background: #ffffff; grid-template-columns: repaet(3,1fr); width: 400px; 
        align-items: center; grid-row: 3;
    }
    .btn1 {
        padding: 12px; border: none; border-radius: 4px; font-size: 14px; font-weight: 600;
        transition:transform 0.2s ease-out, box-shadow 0.2s ease-out;
        background: #ffc400; color:#ffc400;
        border: 2px; 
        align-items: center;
        cursor: pointer;
    }

    .btn2 {
        padding: 12px; border: none; border-radius: 4px; font-size: 14px; font-weight: 600; 
        transition:transform 0.2s ease-out, box-shadow 0.2s ease-out;
        background: #73ff00; color:#73ff00;
        border: 2px; 
        align-items: center;
        cursor: pointer;
    }

    .btn3 {
        padding: 12px; border: none; border-radius: 4px; font-size: 14px; font-weight: 600;
        transition:transform 0.2s ease-out, box-shadow 0.2s ease-out;
        background: #ff0077; color:#ff0077;
        border: 2px; 
        align-items: center;
        cursor: pointer;
    }

    .btn4 {
        padding: 12px; border: none; border-radius: 4px; font-size: 14px; font-weight: 600; 
        transition:transform 0.2s ease-out, box-shadow 0.2s ease-out;
        background: #ff0077; color:#ff0077;
        border: 2px; 
        align-items: center;
        cursor: pointer;
    }

    .btn1.hover {
        border-color: #dc2626; color: #fe2252;
    }

    .btn2.hover {
       border-color: #dc2626; color: #fe2252;
    }

    .btn3.hover {
        border-color: #dc2626; color: #fe2252;
    }

    .btn4.hover {
        border-color: #dc2626; color: #fe2252;
    }
    
    
    